<div class="header">
    <div class="name" (click)="goHome()">{{title | uppercase}}</div>
    <div class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/about']">ABOUT</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/posts']">POSTS</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/about']">PROJECTS</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/about']">PROJECTS</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/admin/dashboard']">DashBoard</a></li>
      </ul>
    </div>
</div>

