.category {
  width: 85%;
  position: absolute;
  right: 0;
  top: 65px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 50px 0;
  .category-add, .category-list {
    width: 40%;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 7px 12px rgba(0, 0, 0, .3);
    h2 {
      text-align: center;
    }
  }
  .category-add {
    .input-group {
      border-bottom: 2px solid #38d39f;
      width: 80%;
      margin: 20px auto;
      label {
        line-height: 30px;
        margin-right: 20px;
      }
      input {
        border: none;
        outline: none;
        line-height: 30px;
        font-size: 20px;
      }
    }
    .submit-btn {
      width: 200px;
      height: 40px;
      line-height: 40px;
      font-size: 22px;
      border-radius: 10px;
      display: block;
      margin: 20px auto;
      border: none;
      background-color: #38d39f;
      color: #FFFFFF;
      cursor: pointer;
    }
  }
  .category-list {
    .category-list-table {
      width: 80%;
      margin: 20px auto;
      thead {
        td {
          line-height: 30px;
        }
      }
      tbody {
        text-align: center;
        td {
          line-height: 30px;
          .delete-btn, .edit-btn {
            margin: 0 5%;
            cursor: pointer;
            display: inline-block;
            width: 40%;
            height: 25px;
            color: #FFFFFF;
            outline: none;
            border: none;
            border-radius: 10px;
          }
          .delete-btn {
            background-color: #ff4d4f;
          }
          .edit-btn {
            background-color: #38d39f;
          }
        }
      }
    }
  }
}
